﻿@model ImagenCompresion.Models.ViewModels.ImagenVM
@{
                /**/

                ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h3>Ejemplo de Compresion de Imagen</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("SubirImagen", "Home",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <H4>Subir Imagen</H4>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Imagen, new { type = "file", @class="form-control" })
                        @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger"  })
                    </div>
                    <button class="btn btn-success">Cargar</button>
                }
            </div>
        </div>
    </div>
</div>
